
#masthead {
	text-align: center;
}

#byline {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

#content {
	margin: 0 auto;
	width: 90%;
	padding-bottom: 5px;
}

body {
	background-color: #FAF9F6;
}

h1{
	font-family: 'Libre Bodoni', Georgia, serif;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

p {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	font-size: 16px;
}

