#masthead {
	text-align: center;
}
.navbar
{
	background-color: #e54113;
	border: white;
}
.navbar-brand {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	font-size:  2em;
	}

.navbar-nav {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	font-size:  1em;
}

#byline {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	text-align: center;
	font-size: 14px;
	font-style: italic;
}

#content {
	margin: 0 auto;
	width: 75%;
	padding-bottom: 5px;
}

#related-links{
	font-family: 'Hind Siliguri', Arial, sans-serif;
	font-size: 18px;
}

h3 {
	font-family: 'Libre Bodoni', Georgia, serif;
	font-size: 28px;
	font-weight: 500;
}

body {
	background-color: #FAF9F6;
}

h1{
	font-family: 'Libre Bodoni', Georgia, serif;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
}

figcaption {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	color: grey;
	font-style: italic;
	font-size: 12px;
}

p {
	font-family: 'Hind Siliguri', Arial, sans-serif;
	font-size: 16px;
}

blockquote {
	font-family: 'Libre Bodoni';
	font-size: 2em;
	color: white;
	background-color: #e54113;
	padding: 5px;
	text-align: center;
 
	




