body {
	background-color: #f4eee1;
}

.navbar {
	background-color: #e9ccb1;
}
.content {
	margin: 0 auto;
	width: 90%;
}

#resume-image img {
	max-height: 500%;
	Width: 100%;
}

.navbar-brand {
	font-family: 'League Gothic', sans-serif;
	font-size:  2em;
	}

.sectionheader {
	font-size: 2em;
	text-transform: uppercase;
	color: #1b0000;
	font-weight: 400;
	margin: 20px 0 10px;
	width:  70%;
	min-width: 300px;
	font-family: 'League Gothic', sans-serif;
}

h1 {
	font-family: 'League Gothic', sans-serif;
	font-size: 4em;
	font-weight: 100;
	text-transform: uppercase;
	color: #1b0000;
}

p {
	font-weight: 100;
	font-size: 1em;
	margin-top: 2px;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000;
}

.album {
	background-color: #e8e6d9;

}
.btn-outline-primary {
	background-color: #d3c4be;
	border-color: white;
	font-family: League Gothic, sans-serif;
	font-size: 1.2em;
	color: #1b0000;
	text-transform: uppercase;
}
.btn-secondary {
	background-color: #d3c4be;
	color: #1b0000;

}
.jobtitle {
	font-weight: 300;
	font-size: 1.75em;
	font-family: 'League Gothic', sans-serif;
	color: #1b0000;
}

.organization {
	font-weight: 200;
	font-size: 1.25em;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000;
}

.date {
	font-weight: 100;
	font-size: 1em;
	font-style: italic;
	margin-top: 2px;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000;
}


ul {
	margin: 5px 0 0 0 0;
	font-weight: 150;
}

.card-text-headline {
	font-size: 1.5em;
	text-align: center;
	font-family: League Gothic, sans-serif;
	color: #1b0000;
}

.card-text {
	text-align: center;
	font-weight: lighter;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000;
}

 .lead-text-muted {
	font-weight: lighter;
	font-size: 1.25em;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000!important;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
}


.text-muted {
	font-weight: lighter;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000!important;
}

img {
	max-height: 400px;
}

textarea {
	resize: vertical;
    height: 100px;
}

label {
	font-weight: lighter;
	font-family: 'Helvetica', sans-serif;
	color: #1b0000;

}

.col-md-9
{
	padding-right: 5px;
	padding-left: 450px;
	padding-top: 10px;
	padding-bottom: 5px;
}

